<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/dfhowitt"><i class="fab fa-github" target="_blank"></i></a>
    <a href="https://www.linkedin.com/in/daniel-howitt-96261810b/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
