<div class="consulting-banner">
  <a href="#service-content"><i class="fas fa-chevron-down"></i></a>
</div>
<div class="container">
  <div class="consulting-content mt-3">
    <div id="service-content">
      <div class="service-header">
        <h2>Consulting</h2>
        <h5><i>Having consulted on multiple projects in Retail, Real Estate, Trade Finance, Post-Trade, FMCG, Recruitment, Sales, and Corporate Administration I offer consultancy services to help your business react to any opportunity or risk.</i></h5>
        <a class="btn btn-primary" href="#">Get in touch</a>
      </div>
      <hr>
      <div class="service-card mt-5">
        <div class="service-title-icon d-flex">
          <i class="fas fa-code-branch"></i>
          <h3>Tech</h3>
        </div>
        <h5>From assessing your UX/UI to recommending system architeture, I can help you with the design of your web app and ensure it is streamlined with your business model.</h5>
      </div>
      <div class="service-card mt-5">
        <div class="service-title-icon d-flex">
          <i class="fas fa-chart-bar"></i>
          <h3>Risk</h3>
        </div>
        <h5>With considerable experience both in operational and credit risk for large scale banks, I can leverage my knowledge to help you detect risks and assess their scale and scope, and how best to mitigate these.</h5>
      </div>
      <div class="service-card mt-5">
        <div class="service-title-icon d-flex">
          <i class="fas fa-chess-knight"></i>
          <h3>Strategic</h3>
        </div>
        <h5>If you are looking for more general strategic advice, don't hesitate to get in touch and have a preliminary call to assess what I can do for you.</h5>
      </div>
    </div>
  </div>
</div>
