<div class="finance-banner">
  <i class="fas fa-chevron-down"></i></a>
</div>
<div class="container">
  <div class="finance-content mt-3">
    <div id="service-content">
      <div class="service-header">
        <h2>Financial Analysis & Modelling</h2>
        <h5><i>My background as a finance associate has given me experience to diligently assess operational & credit risk, derive complex financial models and provide strategic insight into the profitability of commercial investments.</i></h5>
        <%= link_to "Get in touch", contact_index_path, class: "btn btn-primary" %>
      </div>
      <hr>
      <div class="service-card mt-5">
        <div class="service-title-icon d-flex">
          <i class="fas fa-balance-scale-left"></i>
          <h3>Analysis</h3>
        </div>
        <h5>Financial analysis constitutes a key part of any strategic decision. I offer concise financial reporting that assesses the strategic, operational and credit risk of your finance-related transactions to ensure compatibility with your budget and long-term business goals. These reports will include both quantitative and qualitative measures that will provide a clear outlook for you to make the best strategic decision. Financial modelling services can be included.</h5>
      </div>
      <div class="service-card mt-5">
        <div class="service-title-icon d-flex">
          <i class="fas fa-chart-bar"></i>
          <h3>Modelling</h3>
        </div>
        <h5>I offer dynamic financial modelling services to help you forecast budgeting, growth, and investment opportunities either as an interactive webpage or in Excel format.</h5>
      </div>
    </div>
  </div>
</div>
