<div class="fullstack-banner">
  <i class="fas fa-chevron-down"></i></a>
</div>
<div class="container">
  <div class="fullstack-content mt-3">
    <div id="service-content">
      <div class="service-header">
        <h2>Fullstack Web Development</h2>
        <h5><i>With my full-stack programming skills and acute business acumen, I offer my services from planning to execution and deployment. Maintenance, support, and consultancy provided.</i></h5>
        <%= link_to "Get in touch", contact_index_path, class: "btn btn-primary" %>
      </div>
    </div>
    <hr>
    <div class="service-card mt-5">
      <div class="service-title-icon d-flex">
        <i class="fas fa-palette"></i>
        <h3>Front-end design</h3>
      </div>
        <h5>Interactive and thoughtful design thinking is imperative for any business with an online presence. Get in touch to see how I can build or improve the design of your website.</h5>
    </div>
    <div class="service-card mt-5">
      <div class="service-title-icon d-flex">
        <i class="fas fa-layer-group"></i>
        <h3>Enterprise systems</h3>
      </div>
        <h5>Interacting with legacy systems and processes both physical and digital can hinder workflow and cause business-wide inefficiencies. I will work closely with you so that we can assess and map out together an effective enterprise management system for your orders, assets, or processes built with a user-friendly interface.</h5>
    </div>
    <div class="service-card mt-5">
      <div class="service-title-icon d-flex">
        <i class="fab fa-sellsy"></i>
        <h3>E-commerce</h3>
      </div>
        <h5>Whether you are an established retailer looking to move online or just starting your boutique retail business, I can build out an end-to-end platform that will resonate with your customer base. Built-in management solutions are implemented that will give you visibility and control in an easy-to-use manner.</h5>
    </div>
    <div class="service-card mt-5">
      <div class="service-title-icon d-flex">
        <i class="fas fa-crosshairs"></i>
        <h3>Industry specific solutions</h3>
      </div>
      <h5>Having built multiple web-apps for my own projects, I can tailor my services to suit your business's specific requirements and take your idea into production.</h5>
      </div>
    </div>
  </div>
</div>
