<div class="banner">
  <div class="banner-content ml-4">
    <h1>Welcome</h1>
    <p>Bespoke services tailored to your business needs</p>
    <%= link_to "Get in touch", contact_index_path, class: "btn btn-primary" %>
  </div>
  <a href="#homepage-header"><i class="fas fa-chevron-down"></i></a>
</div>
<div class="homepage-content ml-4 mr-4 mt-2">
  <hr>
  <div id="homepage-header">
    <h1><strong>Services</strong></h1>
  </div>
  <hr>
  <div class="cards mt-3">
    <%= link_to fullstack_path do %>
    <div class="card-category">
      <div class="card-body">
        <h4 class="card-title">Fullstack Web Development</h4>
        <p class="card-text">From webpage design to launching a fully functional web app, I have you covered end-to-end.</p>
        <i class="fas fa-code"></i>
      </div>
    </div>
    <% end %>
    <%= link_to finance_path do %>
    <div class="card-category">
      <div class="card-body">
        <h4 class="card-title">Financial Analysis</h4>
        <p class="card-text">Realise commercial opportunities and meet your growth aspirations with in-depth analysis and insight.</p>
        <i class="fas fa-chart-line"></i>
      </div>
    </div>
    <% end %>
    <%= link_to consulting_path do %>
    <div class="card-category">
      <div class="card-body">
        <h4 class="card-title">Consulting</h4>
        <p class="card-text">Having led on multiple consultacy projects I can leverage this experience to give sound advice on technical, financial, and strategical decisions.</p>
        <i class="fas fa-user-tie"></i>
      </div>
    </div>
    <% end %>
  </div>
</div>
