#name {
  text-align: center;
  color: #353535;
}

.about-page-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #353535;
}

.about-page-info1 {
  width: 92%;
  text-align: justify;
  color: #353535;
}

.about-page-info2 {
  width: 92%;
  margin: 0px 12px 0px 12px;
  border-radius: 8px;
  color: #353535;
}

.about-page-photo {
  width: 100%;
}

.about-page-experience {
  color: #353535;
}

.education-card {
  color: #353535;
  padding: 6px;
  border-radius: 8px;
  & a:hover {
    text-decoration: none;
  }
}

.education-le-wagon {
  display: flex;
  margin: 0 auto;
  align-items: center;
  & img {
  height: 30px;
  margin: 0px 0px 8px 4px;
  }
}

.education-lse {
  align-items: center;
  & img {
  height: 30px;
  margin: 0px 0px 8px 4px;
  }
}

.about-page-experience {
  & h1 {
    text-align: center;
  }
}

.experience-card {
  border-radius: 8px;
  padding: 12px 12px 12px 0px;
  color: #353535;
  & a:hover {
    text-decoration: none;
  }
}
