.banner {
  background-image: url('https://res.cloudinary.com/dezrxo3qo/image/upload/v1593185554/dhowitt/banner_ajmwq1.jpg');
  background-image: linear-gradient(rgba(0,0,0,0.4));
  background-size: cover;
  height: 750px;
  background-position: center;
  padding: 175px 0;
  margin-bottom: 4px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner i {
  color: white;
  font-size: 72px;
  opacity: 0.6;
  position: relative;
  top: 360px;
}

.about-banner {
  background-image: url('https://res.cloudinary.com/dezrxo3qo/image/upload/v1593185530/dhowitt/me3_dwjtyo.jpg');
  background-image: linear-gradient(rgba(0,0,0,0.4));
  background-size: cover;
  height: 750px;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 4px;
  text-align: center;
}

.about-banner i {
  color: white;
  font-size: 72px;
  opacity: 0.6;
  position: relative;
  top: 520px;
}

.finance-banner {
  background-image: url('https://res.cloudinary.com/dezrxo3qo/image/upload/v1593185555/dhowitt/finance_pqugqe.jpg');
  background-image: linear-gradient(rgba(0,0,0,0.4));
  background-size: cover;
  height: 750px;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 4px;

  text-align: center;
}

.finance-banner i {
  color: white;
  font-size: 72px;
  opacity: 0.6;
  position: relative;
  top: 520px;
}

.fullstack-banner {
  background-image: url('https://res.cloudinary.com/dezrxo3qo/image/upload/v1593185562/dhowitt/fullstack_myjrht.jpg');
  background-image: linear-gradient(rgba(0,0,0,0.4));
  background-size: cover;
  height: 750px;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 4px;
  text-align: center;
}

.fullstack-banner i {
  color: white;
  font-size: 72px;
  opacity: 0.6;
  position: relative;
  top: 520px;
}

.consulting-banner {
  background-image: url('https://res.cloudinary.com/dezrxo3qo/image/upload/v1593185539/dhowitt/consulting_yrb0n3.jpg');
  background-image: linear-gradient(rgba(0,0,0,0.4));
  background-size: cover;
  height: 750px;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 4px;
  text-align: center;
}

.consulting-banner i {
  color: white;
  font-size: 72px;
  opacity: 0.6;
  position: relative;
  top: 520px;
}

