.contact-banner {
  background-image: url('https://res.cloudinary.com/dezrxo3qo/image/upload/v1593385588/dhowitt/daniel-von-appen-tb4heMa-ZRo-unsplash_tqtig9.jpg');
  background-size: cover;
  height: 750px;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.new-contact {
  margin: 24px;
}

.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-form-text-area {
  color: black;
  padding: 4px;
}

.hidden { display: none; }
