.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  padding: 0px 50px;
  color: #FFFFFF;
  margin-top: 12px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #353535;
  opacity: 0.15;
  text-decoration: none;
  font-size: 32px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  transition: 0.6s;
}
