.homepage-content h1 {
  text-align: center;
  color: #353535;
}

@media (min-width: 0px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
    text-align: center;
    & a{text-decoration: none;
    }
    & a:hover {
      text-decoration: none;
    }
    margin: 0px 12px 0px 12px;
  }
}

@media (min-width: 920px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    text-align: center;
    & a{text-decoration: none;
    }
    & a:hover {
      text-decoration: none;
    }
    margin: 0px 12px 0px 12px;
  }
}


// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 24px;
//   text-align: center;
//   & a{text-decoration: none;
//   }
//   & a:hover {
//     text-decoration: none;
//   }
//   margin: 0px 12px 0px 12px;
// }

.card-category {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353535;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 1px solid rgba(11,32,39,0.3);
  background-color: white;
  box-shadow: 3px 3px rgba(40,75,99,0.5);
  // box-shadow: 3px 3px rgba(11,32,39,0.5);
  &:hover {
    box-shadow: 3px 3px rgba(40,75,99,0.8);
  }
  transition: 0.3s;
}

.card-title {
  font-weight: bolder;
}

.card-text {
  font-size: 18px;
}

.card-body i {
  font-size: 24px;
}
