.navbar {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  font-weight: lighter;
  & a {
    text-decoration: none;
    color: #F5F5F5;
    text-shadow: 1px 1px 2px #353535;
    font-size: 16px;
  }
  & a:hover {
    text-decoration: none;
    font-weight: bolder;
  }
}

.dropdown {
  color: #F5F5F5;
  position: relative;
  display: inline-block;
}

.dropbtn{
  color: #F5F5F5;
  text-shadow: 1px 1px 2px #353535;
  background: transparent;
  border: none;
}

.dropdown-menu-right{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
}

.dropdown-menu-right .dropdown-item {
  color: #353535;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
