<div class="contact-banner">
  <%= render 'shared/navbar' %>
  <div class="container">
    <div class="contact-form p-5">
      <%= render 'shared/contact_form' %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
