<div class="contact-banner">
  <div class="contact-container">
    <div class="contact-title mt-5 ml-2">
      <h1 style="color: white; text-align: left;">Contact Me</h1>
    </div>
    <div class="contact-form mb-4">
      <%= render 'shared/contact_form' %>
    </div>
  </div>
</div>
